<div class="footer">
  <ul>
    <li>
      <a href="">Deveniți Vânzător</a>
    </li>
    <li>
      <a href="">Politici</a>
    </li>
    <li>
      <a href="">Termeni și Condiții</a>
    </li>
    <li>
      <a href="">Centru de Ajutor</a>
    </li>
    <li>
      <a href="">Noutăți</a>
    </li>
    <li>
      <a href="">Facebook</a>
    </li>
    <li>
      <a href="">Youtube</a>
    </li>
    <li>
      <a href="">FAQ</a>
    </li>
  </ul>
  <p>© 2023 Lucru Individual Țîmbalist Cătălin</p>

</div>
