<div class="product-list">
  <h1>Listă Produse</h1>
  <p class="message-p">{{ productMessage }}</p>
  <table>
    <thead>
    <tr>
      <th>Imagine</th>
      <th>Nume</th>
      <th>Preț</th>
      <th>Culoare</th>
      <th>Categorie</th>
      <th>Descripție</th>
      <th>Acțiune</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of productList">
      <td><img src="{{ item.image }}" /></td>
      <td>{{ item.name }}</td>
      <td>{{ item.price }} lei</td>
      <td>{{ item.color }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.description }}</td>
      <td>
        <fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>
        <a class="adjust-update-link" routerLink="/seller-update-product/{{item.id}}"> <fa-icon  [icon]="iconEdit"></fa-icon></a>

      </td>
    </tr>
    </tbody>
  </table>
</div>
